:root{
    --pink: #ff0054;
    --white: #FFFFFF;
    --blue: #22223b;
}
body {
    background: var(--bg);
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    font-family: helvetica;
    
  }
 p{
    margin-left: 450px;
    margin-right: 350px;
  }
.lit-theme{
   --bg: var(--pink);
   --fontColor: var(--blue);
   --btnFontColor: var(--white);
   --btnBg:var(--blue);
}
.dark-theme{
    --bg: var(--blue);
    --fontColor: var(--pink);
    --btnFontColor: var(--white);
   --btnBg: var(--pink);
 }
li{
    list-style: square;
    font-family: monospace;

}

.btn {
    position: absolute;
    top: 425px;
    left: 630px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }

  @media screen and (max-width: 799px) {
    p{
        margin: 10px 50px;
    }
    h1{
       margin: 25px 75px;
    }
    li{
        margin: 10px 100px;
       }
       .btn{
        top: 450px;
        left: 200px;
       }
 }
 @media screen and (min-width: 800px) {
   p{
    margin: 25px 300px ;
   }
   h1{
    margin: 10px 450px;
   }
   li{
    margin: 10px 500px;
   }
   .btn{
    top: 450px;
    left: 600px;
   }
 } 